<a href="https://colab.research.google.com/github/Pallavisangral/BookReccomendationSystem/blob/main/userbased.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

get data

In [2]:
df = pd.read_csv("correctdf.csv" )

In [3]:
df.head(5)

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,description,User-ID,Book-Rating,countusers,count
0,0,0671042858,The Girl Who Loved Tom Gordon,Stephen King,2000,Pocket,http://images.amazon.com/images/P/0671042858.0...,http://images.amazon.com/images/P/0671042858.0...,http://images.amazon.com/images/P/0671042858.0...,The acclaimed #1 New York Times and undisputed...,11676,10,214,202
1,1,067103619X,Lake News,Barbara Delinsky,2000,Pocket,http://images.amazon.com/images/P/067103619X.0...,http://images.amazon.com/images/P/067103619X.0...,http://images.amazon.com/images/P/067103619X.0...,Two people fleeing from disasters in their pas...,11676,8,71,202
2,2,0385306032,Vanished,Danielle Steel,1993,Delacorte Press,http://images.amazon.com/images/P/0385306032.0...,http://images.amazon.com/images/P/0385306032.0...,http://images.amazon.com/images/P/0385306032.0...,Guilt-ridden over the death of her first child...,11676,7,30,202
3,3,0618231617,Almost: A Novel,Elizabeth Benedict,2002,Mariner Books,http://images.amazon.com/images/P/0618231617.0...,http://images.amazon.com/images/P/0618231617.0...,http://images.amazon.com/images/P/0618231617.0...,"On the verge of divorce, Sophy Chase is stunne...",11676,0,24,202
4,4,0440211727,A Time to Kill,JOHN GRISHAM,1992,Dell,http://images.amazon.com/images/P/0440211727.0...,http://images.amazon.com/images/P/0440211727.0...,http://images.amazon.com/images/P/0440211727.0...,Following the brutal rape of his ten-year-old ...,11676,0,517,202

In [7]:
df.shape

(808, 14)

In [5]:
df1 = pd.pivot_table(df, values= 'Book-Rating', index = ['ISBN'], columns = ['User-ID'])

In [6]:
df1

User-ID,11676,16795,35050,35859,36606,36836,52584,55492,60244,69697,...,234623,235105,238781,242824,245963,246655,254465,269566,271284,278418
ISBN,,,,,,,,,,,,,,,,,,,,,
0020198906,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0060092645,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
0060256737,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0060508108,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0060520507,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558746161,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1558747060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1578562325,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1853260312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8483101610,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df1.fillna(0, inplace = True)

In [9]:
df1

User-ID,11676,16795,35050,35859,36606,36836,52584,55492,60244,69697,...,234623,235105,238781,242824,245963,246655,254465,269566,271284,278418
ISBN,,,,,,,,,,,,,,,,,,,,,
0020198906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060092645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060256737,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060508108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060520507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558746161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1558747060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1578562325,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1853260312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8483101610,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df1.shape

(157, 52)

In [11]:
from scipy.sparse import csr_matrix

In [12]:
df2matrix = csr_matrix(df1.values)

In [13]:
print(df2matrix)

  (0, 37)	3.0
  (1, 21)	8.0
  (1, 32)	8.0
  (2, 0)	7.0
  (2, 14)	10.0
  (7, 22)	7.0
  (8, 0)	9.0
  (9, 8)	6.0
  (13, 8)	8.0
  (14, 22)	8.0
  (15, 0)	7.0
  (17, 1)	8.0
  (18, 28)	6.0
  (18, 38)	10.0
  (22, 0)	10.0
  (23, 43)	8.0
  (26, 32)	8.0
  (26, 37)	10.0
  (32, 21)	9.0
  (33, 0)	10.0
  (33, 19)	5.0
  (34, 13)	7.0
  (34, 32)	7.0
  (34, 45)	8.0
  (41, 1)	7.0
  :	:
  (122, 15)	7.0
  (123, 1)	7.0
  (124, 8)	9.0
  (125, 0)	9.0
  (126, 7)	10.0
  (127, 15)	4.0
  (129, 16)	9.0
  (129, 38)	2.0
  (130, 1)	6.0
  (130, 21)	9.0
  (131, 21)	9.0
  (131, 28)	7.0
  (132, 0)	8.0
  (142, 37)	10.0
  (143, 0)	8.0
  (143, 3)	7.0
  (143, 16)	9.0
  (146, 8)	7.0
  (147, 0)	8.0
  (150, 0)	10.0
  (151, 0)	7.0
  (151, 9)	9.0
  (152, 11)	9.0
  (153, 11)	9.0
  (154, 0)	6.0

In [14]:
from sklearn.neighbors import NearestNeighbors


model = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model.fit(df2matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [15]:
df2matrix.shape

(157, 52)

In [29]:
randomvalue = np.random.choice(df1.shape[0])
print(randomvalue)

22

In [30]:
gap, indices = model.kneighbors(df1.iloc[randomvalue,:].values.reshape(1, -1), n_neighbors = 6)

In [33]:
print(gap)

[[0. 0. 0. 0. 0. 0.]]

In [32]:
for i in range(0, len(gap.flatten())):
    if i == 0:
        print('Recommendations for ISBN {0}:\n'.format(df1.index[randomvalue]))
    else:
        print('ISBN {0}: {1}, with distance of {2}:'.format(i, df1.index[indices.flatten()[i]], gap.flatten()[i]))

Recommendations for ISBN 034536676X:

ISBN 1: 0671042858, with distance of 0.0:
ISBN 2: 0609602330, with distance of 0.0:
ISBN 3: 0312274920, with distance of 0.0:
ISBN 4: 0743411250, with distance of 0.0:
ISBN 5: 0440237556, with distance of 0.0: